<nav class="navbar navbar-dark py-3 shadow-sm mb-4"
    style="background: linear-gradient(135deg, #800000 0%, #800000 100%);">
    <div class="container d-flex justify-content-between">
        <a class="navbar-brand fw-bold d-flex align-items-center" href="/index.html">
            <img src="/img/kpu_logo.png" alt="Logo" height="30" class="me-2">
            E-Perjadin KPU Tubaba
        </a>
        <a href="/index.html" class="btn btn-sm btn-outline-light rounded-pill px-3 fw-bold">
            <i class="bi bi-house-door-fill me-1"></i> Dashboard
        </a>
    </div>
</nav>